html{
  height:100%
}
body{
  margin:0px;
  display:flex;
  flex-wrap:wrap;
  height:100%;
}
/* container */
.wrapper{
  background-color: white;
  display:flex;
  flex-wrap:wrap;
  width:100%;
  height:100%;

}
/* sections*/
header{
  background-color: black;
  color:white;
  height:15%;
  width: 100%;
  position:fixed;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-content:center;
  order:1
}
header a{
  margin: auto auto;
  text-decoration:none;
  color:white;
}
main{
background-color:#ffca28;
color:blue;
//height:75%;
  width: 100%;
  padding-top:15vh;
  order:3;
}

footer{
  background-color: #212121;
  color:white;;
  height:10%;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-content:center;
    order:4;
}
footer h3{
  margin:auto auto;
}

/* HEADERPARTS */

.fixed {
    position:fixed;
}

nav{
  //height:100vh;
//  margin-left: px;
  width:300px;
  height:100%;
  position:fixed;
  transform: translate(-300px,0);
  transition: transform 0.3s ease;
  background-color:#1976d2;
  color:white;
}
nav.open{
  transform:translate(0,0);
}
nav div{
  display:flex;
  flex-direction:column;
  padding:30px;
}

nav div ul{
  list-style-type: none;
  padding:0px;
}
nav div ul li, nav>div>a{
  padding:12px 0px;
  text-transform:uppercase;
  text-align:center;
}
nav>div>ul>li>a, nav>div>ul>li>a:visited, nav>div>a, nav>div>a:visited {
  color: white;
  transition: color 0.5s;
  text-decoration:none;
}
nav div ul li:hover, nav>div>a:hover{
background-color: #03a9f4;
}



/* MAIN PARTS menu*/
/* MAIN MENU */
.mainNavigation{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
  padding:5px;
}
.category{
  background-color: #f5f5f5d4 ;
  color: #212121;
  //height:200px;
  width:calc(100% - 20px);
  margin: 10px;
  flex-grow: 1;



}

.card{
/*  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;*/
  height:100%;
  width:100%;
}
.card:hover {
  /*  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);*/
}
/*change path if needed  Remove the "DIST" part, is only for github io pages*/
.cat-img-holder{
  background-color: #e65100;

height:70px;;
}
.cat-title{
text-transform: uppercase;
margin:15px;
text-align: center;

}
.cat-subcategory>ul{
  margin-bottom:8px;

}
.cat-subcategory>ul>li{
  list-style:none;
  margin:2px 4px;
  font-variant-caps: all-small-caps;
  padding:3px;
  display:flex;
  flex-wrap:wrap;
    align-content:stretch;
    flex-basis:auto;
    width:100%;

  }

/*ADVERTISMENT DIVS */
.ad-100{
  display:flex;
  flex-wrap:wrap;
  background-color: #F5F5F5d4 ;
  color: #212121;
  height:100px;
  width:100%;
  margin: 10px;
  flex-grow: 1;
  justify-content: center;
  align-items:center;
}

.ad-100 span {
width:100%;
text-align:center;
}
/* ARTICLE */
article{
  width:100%;
  display:flex;
  flex-wrap:wrap;

}
.article-content{
margin:20px;
width:100%;
}
.image-gallery-container{
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content: center;
  width:100%;
  margin-top:10px;
}
.image-holder{
  width:300px;
  margin-bottom:10px;
  padding: 10px;
  align-self: auto;
  flex-grow:1;
}
.image{
  width: 100%;
  height:auto;

  //flex-grow: 1;

}
/* FOOTER PARTS */
